<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.faraz.pakistanfestivals">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icoon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icoon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GetStarted">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Religious" />
        <activity android:name=".Cultural" />
        <activity android:name=".National" />
        <activity android:name=".Army"></activity>
    </application>

</manifest>